/* 
Compile this file to css/custom_7naPipJd.css using any SCSS preprocessor. 
More information here: https://slides.gitbook.io/manual/scss
*/

@import "mixins.scss"; 
@import "variables.scss";
@import "variables-custom.scss";

/* Slide 47 (#1) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-47-85063d24"] */
.slide[data-cid="slide-47-85063d24"]{
  .flex-47 .material-icons {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 36px;
  }
}

/* Slide 47 (#2) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-47-ec2e9be0"] */
.slide[data-cid="slide-47-ec2e9be0"]{
  .flex-47 .material-icons {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 36px;
  }
}

/* Slide 47 (#3) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-47-fb030fe8"] */
.slide[data-cid="slide-47-fb030fe8"]{
  .flex-47 .material-icons {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 36px;
  }
}

/* Slide 47 (#4) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-47-8021ffc7"] */
.slide[data-cid="slide-47-8021ffc7"]{
  .flex-47 .material-icons {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 36px;
  }
}

/* Slide 47 (#5) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-47-e25f8f1c"] */
.slide[data-cid="slide-47-e25f8f1c"]{
  .flex-47 .material-icons {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 36px;
  }
}

/* Slide 47 (#6) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-47-18212009"] */
.slide[data-cid="slide-47-18212009"]{
  .flex-47 .material-icons {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 36px;
  }
}

/* Slide 47 (#7) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-47-c9e69d1c"] */
.slide[data-cid="slide-47-c9e69d1c"]{
  .flex-47 .material-icons {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 36px;
  }
}

/* Slide 47 (#8) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-47-b35ee7d0"] */
.slide[data-cid="slide-47-b35ee7d0"]{
  .flex-47 .material-icons {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 36px;
  }
}