/* 
Compile this file to css/custom_obRAsgSP.css using any SCSS preprocessor. 
More information here: https://slides.gitbook.io/manual/scss
*/

@import "mixins.scss"; 
@import "variables.scss";
@import "variables-custom.scss";

/* Slide 07 (#2) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-07-ace7bd0b"] */
.slide[data-cid="slide-07-ace7bd0b"]{
	.button.play.button-7 {
    margin: 0 20px;
  }
  @include media(1100px, max) {
    .button.play.button-7 {
      display: block;
      margin: 30px auto;
    }
  }
}

/* Slide 68 (#3) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-68-8c2ed196"] */
.slide[data-cid="slide-68-8c2ed196"]{
  .flex-68 a {
    display: inline-block;
    margin-top: 14px;
    margin-bottom: 14px;
    opacity: 0.9;
    transition: opacity 0.1s ease-in, transform 0.15s cubic-bezier(0.5, 0, 0.25, 2.5);
    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }
  &.whiteSlide .tintLogos {
    filter: brightness(0.2);
  }
  &:not(.whiteSlide) .tintLogos {
    filter: brightness(1.3);
  }
}

/* Slide 104 (#4) */

/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-104-dc975509"] */
.slide[data-cid="slide-104-dc975509"]{
  .slider-104{
    img{
      width:300px;
      border:0px solid transparent;
      transition: .5s;
    }
    .slick-slide{
      &.slick-current{
        img{
          border: 10px solid $blue;
          opacity:1 !important;
        }
      }
    }
  }
  .slider-104-arrow{
    @include media($phablet, max) {
      .slick-prev{
        margin-right: 0!important;
        float: right;
      }
      .slick-next{
        float: none;
      }
    }
    &:hover{
      svg{
        opacity:0.6;
      }
    }
    svg{
      transition: .15s;
    }
  }
  .slider-104-controller{
    @include media($phablet, max) {
      order:1;
    }
  }
  .social-104:hover{
    opacity: 1 !important;
  }
}

/* Slide 74 (#5) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-74-9f076628"] */
.slide[data-cid="slide-74-9f076628"]{
  .box-74 {
    color: $default-text-color;
    border-radius: $rounded-border-radius;
    overflow: hidden;
    box-shadow: $small-shadow;
    display: block;
    outline: none;
    margin-bottom: 25px;
    -webkit-backface-visibility: hidden;
    &:hover {
      box-shadow: $large-shadow;
      opacity: 0.95;
    }
    .name-74 {
      padding: 20px 20px 30px 20px;
      background: #FFFFFF;
      border-radius: 0 0 $rounded-border-radius 0;
    }
    .thumbnail-74 {
      font-size: 0;
      line-height: 0;
      overflow: hidden;
      img {
        border-radius: $rounded-border-radius $rounded-border-radius 0 0;
        transition: 0.5s;
      }
    }
  }
}

/* Slide 160 (#6) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-160-85f6c311"] */
.slide[data-cid="slide-160-85f6c311"]{
  .btn-160{
    min-width:142px;
  }
}