/* Slide 07 (#2) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-07-ace7bd0b"] */
.slide[data-cid=slide-07-ace7bd0b] .button.play.button-7 {
  margin: 0 20px;
}
@media (max-width: 1099px) {
  .slide[data-cid=slide-07-ace7bd0b] .button.play.button-7 {
    display: block;
    margin: 30px auto;
  }
}

/* Slide 68 (#3) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-68-8c2ed196"] */
.slide[data-cid=slide-68-8c2ed196] .flex-68 a {
  display: inline-block;
  margin-top: 14px;
  margin-bottom: 14px;
  opacity: 0.9;
  transition: opacity 0.1s ease-in, transform 0.15s cubic-bezier(0.5, 0, 0.25, 2.5);
}
.slide[data-cid=slide-68-8c2ed196] .flex-68 a:hover {
  opacity: 1;
  transform: scale(1.05);
}
.slide[data-cid=slide-68-8c2ed196].whiteSlide .tintLogos {
  filter: brightness(0.2);
}
.slide[data-cid=slide-68-8c2ed196]:not(.whiteSlide) .tintLogos {
  filter: brightness(1.3);
}

/* Slide 104 (#4) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-104-dc975509"] */
.slide[data-cid=slide-104-dc975509] .slider-104 img {
  width: 300px;
  border: 0px solid transparent;
  transition: 0.5s;
}
.slide[data-cid=slide-104-dc975509] .slider-104 .slick-slide.slick-current img {
  border: 10px solid #2196F3;
  opacity: 1 !important;
}
@media (max-width: 767px) {
  .slide[data-cid=slide-104-dc975509] .slider-104-arrow .slick-prev {
    margin-right: 0 !important;
    float: right;
  }
  .slide[data-cid=slide-104-dc975509] .slider-104-arrow .slick-next {
    float: none;
  }
}
.slide[data-cid=slide-104-dc975509] .slider-104-arrow:hover svg {
  opacity: 0.6;
}
.slide[data-cid=slide-104-dc975509] .slider-104-arrow svg {
  transition: 0.15s;
}
@media (max-width: 767px) {
  .slide[data-cid=slide-104-dc975509] .slider-104-controller {
    order: 1;
  }
}
.slide[data-cid=slide-104-dc975509] .social-104:hover {
  opacity: 1 !important;
}

/* Slide 74 (#5) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-74-9f076628"] */
.slide[data-cid=slide-74-9f076628] .box-74 {
  color: #202020;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.1);
  display: block;
  outline: none;
  margin-bottom: 25px;
  -webkit-backface-visibility: hidden;
}
.slide[data-cid=slide-74-9f076628] .box-74:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
}
.slide[data-cid=slide-74-9f076628] .box-74 .name-74 {
  padding: 20px 20px 30px 20px;
  background: #FFFFFF;
  border-radius: 0 0 6px 0;
}
.slide[data-cid=slide-74-9f076628] .box-74 .thumbnail-74 {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.slide[data-cid=slide-74-9f076628] .box-74 .thumbnail-74 img {
  border-radius: 6px 6px 0 0;
  transition: 0.5s;
}

/* Slide 160 (#6) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-160-85f6c311"] */
.slide[data-cid=slide-160-85f6c311] .btn-160 {
  min-width: 142px;
}
